* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-close {
  background-image: none;
  /* background-color: red; */
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.btn-close::after,
.btn-close::before {
  display: none;
}
